## 3ways of running python
<b>bold Tag</b>
- notebook
- CMD
- Making a python file.py

In [11]:
#f-string
name="Aryan"
age=20

f"my name is {name},I am {age} yr old"

'my name is Aryan,I am 20 yr old'

# Start With Loops
 - while loop 
 - for loop

In [12]:
#while loop
i=0

while(i<10):
    print(i,end=" ") # parameter " ", ","
    i+=1

0 1 2 3 4 5 6 7 8 9

In [13]:
a=4
while a>0:
    print(a)
    a-=1

4
3
2
1

In [14]:
for i in "aryan":
    print(i,end=" ")

a r y a n

In [15]:
for i in "aryan":
    print(i.capitalize(),end=" ")

A R Y A N

In [16]:
# for in loop

for ele in range(3,21): #parameter in range is exclusive so if u want 10 so u have to pass 11
    if ele%2!=0:
        print(ele,end=",")

3,5,7,9,11,13,15,17,19,

In [17]:
# for in loop
#jump parameter
for ele in range(3,21,2): #parameter in range is exclusive so if u want 10 so u have to pass 11
        print(ele,end=",")

3,5,7,9,11,13,15,17,19,

In [18]:
for _ in range(10):
    print("*",end="*")
    #don't need to use the iterator.

********************

### Enumerate  in for loop

In [19]:
#python
# Python program to illustrate
# enumerate function
l1 = ["eat","sleep","repeat"]
s1 = "geek"
 
# creating enumerate objects
obj1 = enumerate(l1)
obj2 = enumerate(s1)
 
print ("Return type:",type(obj1))
print (list(enumerate(l1)))
 
# changing start index to 2 from 0
print (list(enumerate(s1,2)))

Return type: <class 'enumerate'>
[(0, 'eat'), (1, 'sleep'), (2, 'repeat')]
[(2, 'g'), (3, 'e'), (4, 'e'), (5, 'k')]

In [20]:
l = [1.2,1.34,1.45,1.56,1.44,5]
for index,i in enumerate(l):
    print("index"+str(index)+" : "+"i=>"+str(i))
#for more info https://www.geeksforgeeks.org/enumerate-in-python/

index0 : i=>1.2
index1 : i=>1.34
index2 : i=>1.45
index3 : i=>1.56
index4 : i=>1.44
index5 : i=>5

In [21]:
#map is a function which takes an interable( list in this case) and convert it into one new
#list with each entry being the result of corresponding entry from the input list based on the given key function.
#list=map (int, input().split())?

# Strings

In [22]:
a ="I like to Code"
print(a[0])
print(a[-1])
print(len(a))

for i in range(len(a)):
    print(a[i],end="")
    
print()
    
for c in a:
    print(c,end="")

I
e
14
I like to Code
I like to Code

In [23]:
# Concat  2 String 
a = "Hello"
b = "World"
print(a+" "+b)
print(a+" "+b*2)

Hello World
Hello WorldWorld

In [24]:
# ''
# " "
# """ """  # Triple Quotes

st="My name is aryan . i am from delhi"
print(type(st))

#Multiline string 

s1="""My name is aryan .

i am from delhi """
print(s1)

<class 'str'>
My name is aryan .

i am from delhi

In [25]:
print(s1)
s1

My name is aryan .

i am from delhi

'My name is aryan .\n\ni am from delhi '

## COMMON STRING METHOD:
<b>Str method are:
- capitalize()
- count()
- encode()
- endswith()
- expandtabs()
- find()
- format()
- isalpha()
- isdigit()
- isdecimal()
- islower()
- isupper()
- join()
- startswith()
- swapcase()
- title()

 </b>

In [26]:
#String methods
st.upper()

'MY NAME IS ARYAN . I AM FROM DELHI'

In [27]:
st.lower()

'my name is aryan . i am from delhi'

In [28]:
st.isalpha() # after . +tab

False

In [29]:
print("23asdS".isalnum())
print("Asd".islower())
print(" ".isspace())
st.isdigit()

True
False
True

False

In [30]:
#string ==> list of strings USE SPLIT()
l = s1.split()
print(l)
print(type(l))
print(type(l[0]))

['My', 'name', 'is', 'aryan', '.', 'i', 'am', 'from', 'delhi']
<class 'list'>
<class 'str'>

In [31]:
s1.splitlines()
# for splitting para into lines

['My name is aryan .', '', 'i am from delhi ']

In [32]:
st.format_map?
print(st.format_map)
st.format_map

<built-in method format_map of str object at 0x000002B6B3921BD0>

S.format_map(mapping) -> str

Return a formatted version of S, using substitutions from mapping.
The substitutions are identified by braces ('{' and '}').
Type:      builtin_function_or_method

The format_map(mapping) is similar to str.format(**mapping) method.**

The only difference is that str.format(**mapping) copies the dict whereas str.format_map(mapping) makes a new dictionary during method call. This can be useful if you are working with a dict subclass.**

source:https://www.programiz.com/python-programming/methods/string/format_map

In [33]:
class Coordinate(dict):
    def __missing__(self, key):
      return key


print('({x}, {y})'.format_map(Coordinate(x='6')))
print('({x}, {y})'.format_map(Coordinate(y='5')))
print('({x}, {y})'.format_map(Coordinate(x='6', y='5')))

(6, y)
(x, 5)
(6, 5)

In [34]:
st.strip() # shift +tab give better documentation

#Do check length before removing leading and trailing whites spaces

'My name is aryan . i am from delhi'

In [35]:
"        codinglots of fun.     ".rstrip() # rstrip right  left lstrip both strip

'        codinglots of fun.'

In [36]:
"         codinglots of fun.     ".lstrip()

'codinglots of fun.     '

In [37]:
"aryan".capitalize()

'Aryan'

In [38]:
"aryan".title()

'Aryan'

In [39]:
"Aryan".istitle() #tell title

True

In [40]:
st = "Mumbai is undoubtedly the commercial capital of India and is one of the predominant port cities in the country. Mumbai's nature as the most eclectic and cosmopolitan Indian city is symbolized in the presence of Bollywood within the city, the centre of the globally-influential Hindi film and TV industries. It is also home to India's largest slum population."

In [41]:
print("ram is our lord and we all chant for ram ".count("ram")) #count words
print(st.count("mumbai"))
print(st.count("Mumbai"))

2
0
2

In [42]:
st="My name is aryan . i am from delhi"

In [43]:
#find and index method
print(st.find("name"))
print(st.find("tell"))
print(st.index("elhi"))

# when not able to find index 
# Difference is find() return -1, index throws an exception

3
-1
30

In [44]:
st.split(" ") #it return list and break string !!

['My', 'name', 'is', 'aryan', '.', 'i', 'am', 'from', 'delhi']

In [45]:
st.split(".") #it split from " ." character

['My name is aryan ', ' i am from delhi']

In [46]:
s = "_"
s =s.join(st)
print(s)

M_y_ _n_a_m_e_ _i_s_ _a_r_y_a_n_ _._ _i_ _a_m_ _f_r_o_m_ _d_e_l_h_i

-----------------------------------------------------------------------------

In [47]:
st[0]

'M'

In [48]:
len(st)

34

In [49]:
st[len(st)-1] #this will give us last charcter

'i'

In [50]:
st[len(st)-2] #this will give us second last charcter

'h'

In [51]:
#backward/negative  indexing 
print(st[-1])
st[-2]

i

'h'

In [52]:
#slicing of String
#st[start_idx:end_idx+1] #last wala prt in python is exclusive
st[11:16]

'aryan'

In [53]:
print(st[:])
print(st[11:])
print(st[11:-1])

My name is aryan . i am from delhi
aryan . i am from delhi
aryan . i am from delh

In [54]:
#step size  hai third one after 2nd colon
print(st[::-1]) #reverse a string
print(st[9:2:-1]) # step size here use to reverse the string
print(st[:21:2])

ihled morf ma i . nayra si eman yM
si eman
M aei ra

In [55]:
print("".join(reversed(st)))
print(st)

ihled morf ma i . nayra si eman yM
My name is aryan . i am from delhi

In [56]:
st="changed" # here refernce are changed so string are immutable 
# also indexedable 
#those thing are immutable  they are also hashable

In [57]:
st

'changed'

In [58]:
str[0]="r"
#as string are immutable

TypeError: 'type' object does not support item assignment

In [59]:
st.replace
#out means intermiadiate result

### To Understand more on Immutable(string are not immutable)

In [60]:
a = "Aryan"
b = "Aryan"
print("id of name_1 = ", id(a))
print("id of name_2 = ", id(b))

id of name_1 =  2983721294064
id of name_2 =  2983721294064

When the above lines of code are executed, you will find that the id’s of both objects, which refer to the string "Aryan", are the same.

In [61]:
a = "Aryan"
b = "aryan"
print("id of name_1 = ", id(a))
print("id of name_2 = ", id(b))

id of name_1 =  2983721294064
id of name_2 =  2983721275568

when a string reference is reinitialized with a new value, it is creating a new object rather than overwriting the previous value.

In Python, strings are made immutable so that programmers cannot alter the contents of the object (even by mistake).

In [3]:
strin= "qsdfg"
strin[4] ="h"
# means string are immutable

TypeError: 'str' object does not support item assignment

In [4]:
txt = "My name is Ståle"

x = txt.encode()

print(x)

b'My name is St\xc3\xa5le'

In [5]:
# The endswith() method returns True if the string ends with the specified value, otherwise False.
# string.endswith(value, start serching from, end) 
txt = "Hello, welcome to my world."

x = txt.endswith("my world.")

print(x)

True

In [6]:
# tabsize	Optional. A number specifying the tabsize. Default tabsize is 8
txt = "H\te\tl\tl\to"
# string.expandtabs(tabsize)

print(txt)
print(txt.expandtabs())
print(txt.expandtabs(2))
print(txt.expandtabs(4))
print(txt.expandtabs(10))

H	e	l	l	o
H       e       l       l       o
H e l l o
H   e   l   l   o
H         e         l         l         o